/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
body {background: url(images/tlo.png) repeat-y center top #F2FFD8; margin: auto; text-align:center;}


img {border:0px;}


a:link {color: #89A500; text-decoration: underline;}
a:visited {color: #89A500; text-decoration: underline;}
#gora {background: url(images/gora.png) repeat-x center top #FFF; width:780px; height:150px; clear:both; margin: auto;}

#gora h1 {padding:0; margin:0; padding-top:35px;}
#menu {width:778px; height:30px; clear:both; margin: auto; background:#555555;}

#menu ul {list-style: none; width:780px; padding:0; margin:0;}

#menu li {float: left; padding: 0 15px;}

#menu a:link {font-size: 22px; color: #fff; text-decoration: none;}
#menu a:visited {font-size: 22px; color: #fff; text-decoration: none;}
#menu a:hover {text-decoration: underline;}

#stopka {clear:both; width:500px; height:100%; margin: auto;margin-top:100px; padding: 15px; border: 1px solid #eeeeee; }

