body {background: url(images/gora.png) repeat-x left top #FFF; margin: auto; text-align:center;}


img {border:0px;}


a:link {color:#49AFFF; text-decoration: none; }
a:visited {color:#49AFFF; text-decoration: none; }
a:hover {color:#49AFFF; text-decoration: underline;}
#gora {width:780px; height:120px; clear:both; margin: auto;margin-top:52px; color: #fff;}
#gora h1 {margin:0; padding:0;}

#kontener {display:block; width:780px; overflow:hidden; height:100%; clear:both; margin: auto;}
#tresc { float: left;width:565px; height:100%; margin: 15px 5px; text-align:left;}



#kolumnaprawa {background: url(images/menu.png) repeat-y left top #FFF; float:right; width:204px; height:100%; color: #fff; margin-bottom:15px;}

#kolumnaprawa ul {list-style:none; padding:0; margin:0;}

#kolumnaprawa a:link {color: #fff; font-size: 22px; text-decoration: underline;}
#kolumnaprawa a:visited {color: #fff; font-size: 22px; text-decoration: underline;}
#dolmenu {position:relative; top:4px;}
#stopka {clear:both; width:780px; height:50px; margin: auto; text-align:right;}
