body {background: url(images/tlo.png) repeat-y center top #F2FFD8; margin: auto; text-align:center;}


img {border:0px;}


a:link {color: #89A500; text-decoration: underline;}
a:visited {color: #89A500; text-decoration: underline;}
#gora {background: url(images/gora.png) repeat-x center top #FFF; width:780px; height:150px; clear:both; margin: auto;}

#gora h1 {padding:0; margin:0; padding-top:35px;}
#menu {width:778px; height:30px; clear:both; margin: auto; background:#555555;}

#menu ul {list-style: none; width:780px; padding:0; margin:0;}

#menu li {float: left; padding: 0 15px;}

#menu a:link {font-size: 22px; color: #fff; text-decoration: none;}
#menu a:visited {font-size: 22px; color: #fff; text-decoration: none;}
#menu a:hover {text-decoration: underline;}
#kontener {display:block; width:640px; overflow:hidden; text-align: center; height:100%; clear:both; margin: auto;}
#kontener h1 {text-align: center;}
#stopka {clear:both; width:500px; height:100%; margin: auto;margin-top:100px; padding: 15px; border: 1px solid #eeeeee; }

#mapka {display:block; width:45%; float: right; overflow:hidden; height:100%;  margin: auto;}


#teks { display:block; text-align: left; width:45%; float: left; overflow:hidden; height:100%;  margin: auto;}
